.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.imageContainer {
    height: 600px;
    width: 600px;
    position: relative;
}

.image {
    height: 100%;
    width: 100%;
}

.bottomNavigator {
    margin-top: 10px;
    display: flex;
    width: 600px;
}

.nextButton {
    margin-left: auto;
}

.saveSection {
  margin-top: 20px;
  display: flex;
}

.topSection {
    display: flex;
}

.rightSection {
    overflow: auto;
    height: 600px;
    width: 400px;
    border: black solid 2px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.boundingBoxDetail {
    display: flex;
    align-items: center;
    width: 400px;
    border-bottom: black solid 2px;
}

.boundingBoxInfoSection {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.removeButton {
    margin-left: auto;
    margin-right: 4px;
}

.appContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.jsonButton {
    margin-left: 6px;
}